# ECDSA
ECDSA/sign
ECDSA/sign.o
ECDSA/test_extras.o

# bls
bls/bls_aggregate
bls/scra_bls_aggregate
bls/test_extras.o
bls/cn_priv_key
bls/cn_public_key
bls/enodeb_priv_key
bls/enodeb_public_key
bls/mme_priv_key
bls/mme_public_key
bls/g

# E2IBS
E2IBS/FourQ_64bit_and_portable/*.o
E2IBS/FourQ_64bit_and_portable/AMD64/consts.s
E2IBS/FourQ_64bit_and_portable/ARIS
E2IBS/FourQ_64bit_and_portable/E2IBS
E2IBS/FourQ_64bit_and_portable/schnorr-HIBS
E2IBS/FourQ_64bit_and_portable/crypto_test
E2IBS/FourQ_64bit_and_portable/ecc_test
E2IBS/FourQ_64bit_and_portable/fp_test